
.cabecalho-moda{
    background-color: #bb86fc;
    color: white;
    border-right: #00c4b4 3px;
    
}

.body{
    background-color: #424250;
    color: white;
}

.cabecalho-casa{
    background-color: #00c4b4;
}